{% set attrs = {
  class: bem('card', ['no-platform']),
  'data-fixture': 'no-platform-src'
} %}
<article {{ add_attributes(attrs) }}>
  <h2>{{ heading }}</h2>
  {% include './_content.twig' %}
</article>
