<div class="grid">
  {% include '@components/button/button.twig' with { label: 'Nested button' } %}
  <template data-fixture-source>{{ source('@components/button/button.twig')|escape }}</template>
</div>
